/* -------------------------------------------------------------------------- */
/*                       StacyGaudreau.com Project Sass                       */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Base Colours ------------------------------ */
/* ------------------------------ Font Families ----------------------------- */
/* ------------------------------- Font Sizes ------------------------------- */
/* ------------------------------- Dimensions ------------------------------- */
/* --------------------------------- Panels --------------------------------- */
/* ---------------------------------- Base ---------------------------------- */
/* 
  Reset
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root font size */
html {
  /*
    10px is a nice number to work with for REM calculations
    default browser size is 16px so we want 62.5% 
  */
  font-size: 62.5%; }

/* font/global properties in body selector */
body {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #181C1C;
  color: #FAFCFC; }

main {
  padding: 0 15rem; }

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Typography Base ---------------------------- */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #FAFCFC; }

/* --------------------------------- Headers -------------------------------- */
h1, h2, h3, h4, h5, h6,
.section-title {
  font-family: ropa-sans-pro, sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

/* ------------------------------- Block Text ------------------------------- */
p {
  margin: 2.2rem 0;
  line-height: 1.5; }

/* ----------------------------- Section Titles ----------------------------- */
.section-title {
  position: relative;
  margin-top: 15rem; }
  .section-title__text {
    font-size: 6.5rem; }
  .section-title__glyph-effect {
    top: -2rem;
    left: -6rem;
    position: absolute;
    z-index: -1;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid red;
    border-color: #414848; }

/* ---------------------------- Margin Utilities ---------------------------- */
.u-m-btm-sm {
  margin-bottom: 1.5rem; }

.u-m-btm-med {
  margin-bottom: 3rem; }

.u-m-btm-lg {
  margin-bottom: 6rem; }

.u-m-top-sm {
  margin-top: 1.5rem; }

.u-m-top-med {
  margin-top: 3rem; }

.u-m-top-lg {
  margin-top: 6rem; }

/* ------------------------------- Top Navbar ------------------------------- */
.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  max-width: 1920px;
  padding: 0 13.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ropa-sans-pro, sans-serif;
  font-weight: 400;
  color: #FAFCFC; }
  .navbar__logo-text {
    font-size: 32px;
    text-transform: uppercase; }
    .navbar__logo-text__last-name {
      font-weight: 200; }
  .navbar__nav-group {
    display: flex; }
  .navbar__nav-item {
    font-weight: 200;
    font-size: 2rem;
    padding: 0 2rem;
    text-transform: lowercase;
    cursor: pointer; }
    .navbar__nav-item:hover {
      color: #06D6C1; }
  .navbar a {
    text-decoration: none;
    color: inherit; }

/* ------------------------------ Hero Section ------------------------------ */
.hero {
  width: 100%;
  height: 100vh; }
  .hero::before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    display: block;
    background: url("/img/spacebg.png") no-repeat center fixed;
    opacity: 0.1; }
  .hero__headline {
    width: 75%;
    padding-top: 22rem;
    font-size: 13rem;
    line-height: 13rem;
    text-transform: uppercase; }
    .hero__headline em {
      font-style: normal;
      color: #06D6C1; }
  .hero__textbox {
    width: 50%;
    position: relative;
    padding-left: 3.3rem;
    color: #e1eded; }
    .hero__textbox::after {
      position: absolute;
      top: 0;
      left: 1rem;
      content: '';
      border-left: 5px solid #06D6C1;
      width: 100%;
      height: 100%; }

/* ----------------------------- Project Feature ---------------------------- */
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #05a494;
  color: #FAFCFC;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  padding: 20rem 10rem; }
  .project__body, .project__image {
    padding: 3rem; }
  .project__body {
    flex-direction: column;
    width: 50%; }
  .project__subtitle {
    font-family: ropa-sans-pro, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #cadfdf; }
  .project__title {
    font-size: 6.3rem;
    font-weight: 600;
    margin-bottom: 4rem; }
  .project__description {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 4rem; }
  .project__buttons {
    display: flex;
    align-items: center; }
  .project__image {
    filter: grayscale(100%);
    transform: scale(1);
    transition: all .5s;
    text-align: center;
    min-width: 50%; }
    .project__image img {
      border-radius: 10px;
      width: 100%; }
    .project__image:hover {
      filter: none;
      transform: scale(1.02); }

/* --------------------------------- Buttons -------------------------------- */
.btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: .5rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff; }

.btn--green {
  background-color: #3BA9B8; }

.btn--blue {
  background-color: #06D6C1; }

.btn--clustered:last-child {
  margin-left: 3rem; }

.btn--clustered:first-child {
  margin-right: 3rem; }

/* -------------------------- Skill Card Component -------------------------- */
.card {
  text-align: center;
  padding: 3rem;
  width: 100%; }
  .card__heading {
    font-family: ropa-sans-pro, sans-serif;
    font-size: 2.6rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    letter-spacing: .26rem; }
  .card__body {
    padding: 3rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300; }
    .card__body ul {
      list-style: none; }
      .card__body ul li {
        padding: 1rem; }
        .card__body ul li:not(:last-child) {
          border-bottom: 1px solid #E0E3E4; }

/* -------------------------------------------------------------------------- */
/*                               Panel Component                              */
/* -------------------------------------------------------------------------- */
/*
  A rectangular panel to contain content with a cool space-y warp 
    shadow effect on it
*/
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(24, 28, 28, 0.82);
  padding: 3.5rem 7rem;
  line-height: 1.77;
  border: 3px solid #414848; }
  .panel__shadow-effect {
    position: absolute;
    opacity: .1;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 97.5%;
    height: 100%;
    top: -5%;
    border: 2px solid #a6afaf; }
    .panel__shadow-effect::after {
      position: absolute;
      opacity: .4;
      z-index: -2;
      content: '';
      width: 95%;
      height: 100%;
      top: -5%;
      border: 2px solid #a6afaf; }

/* -------------------------------------------------------------------------- */
/*                              Graphical Glyphs                              */
/* -------------------------------------------------------------------------- */
/* -------------------------- Circular 45deg Glyph -------------------------- */
.circle-glyph {
  position: absolute;
  z-index: -1;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid #414848; }

/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center; }
  .about__body {
    margin: 2rem 0;
    font-size: 2.2rem;
    line-height: 3rem; }
  .about__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem; }
  .about__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem; }
  .about__cta-btn {
    margin: 7rem 0; }

/* ---------------------------- Projects Section ---------------------------- */
.projects {
  height: 150vh;
  position: relative; }
