/* -------------------------------------------------------------------------- */
/*                       StacyGaudreau.com Project Sass                       */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Base Colours ------------------------------ */
/* ------------------------------ Font Families ----------------------------- */
/* ------------------------------- Font Sizes ------------------------------- */
/* ------------------------------- Dimensions ------------------------------- */
/* --------------------------------- Speeds --------------------------------- */
/* --------------------------------- Panels --------------------------------- */
/* --------------------------------- Glyphs --------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Media Queries ----------------------------- */
/* ---------------------------------- Base ---------------------------------- */
/* 
  Reset
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root font size */
html {
  /*
    10px is a nice number to work with for REM calculations
    default browser size is 16px so we want 62.5% 
  */
  font-size: 62.5%; }

html,
body {
  overflow-x: hidden; }

/* font/global properties in body selector */
body {
  font-size: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #181c1c;
  color: #fafcfc; }

main {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 15rem; }
  @media (max-width: 1799.95px) {
    main {
      padding: 0 11.25rem; } }
  @media (max-width: 1199.95px) {
    main {
      padding: 0 7.5rem; } }
  @media (max-width: 599.95px) {
    main {
      padding: 0 3.75rem; } }

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s; }

a:hover {
  color: #06d6c1;
  text-decoration: none;
  cursor: pointer; }

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Typography Base ---------------------------- */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #fafcfc; }

/* --------------------------------- Headers -------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.section-title {
  font-family: ropa-sans-pro, sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

/* ------------------------------- Block Text ------------------------------- */
p {
  line-height: 1.5; }

p + p {
  margin-top: 1em; }

/* ----------------------------- Section Titles ----------------------------- */
.section-title {
  position: relative;
  font-size: 1rem; }
  @media (max-width: 1799.95px) {
    .section-title {
      font-size: 0.8rem; } }
  .section-title__text {
    font-size: 6.5em; }
  .section-title__glyph-effect {
    opacity: 1;
    top: -2em;
    left: -6em;
    position: absolute;
    z-index: -1;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 2px solid #414848; }
    .section-title__glyph-effect::after {
      position: absolute;
      opacity: 0.08;
      z-index: -2;
      content: '';
      width: 88%;
      height: 88%;
      top: -12%;
      left: -12%;
      border: 2px solid #a6afaf;
      border-radius: 50%; }
    .section-title__glyph-effect::before {
      position: absolute;
      opacity: 0.03;
      z-index: -3;
      content: '';
      width: 76%;
      height: 76%;
      top: -24%;
      left: -24%;
      border: 2px solid #a6afaf;
      border-radius: 50%; }

/* ----------------------- Vertical Bar Beside Textbox ---------------------- */
.with-textbar--left::after {
  position: absolute;
  top: 0;
  content: '';
  border-left: 5px solid #06d6c1;
  width: 100%;
  height: 100%;
  left: 1rem; }

.with-textbar--right::after {
  position: absolute;
  top: 0;
  content: '';
  border-left: 5px solid #06d6c1;
  width: 100%;
  height: 100%;
  left: 102%; }

/* ---------------------------- Margin Utilities ---------------------------- */
.u-m-btm-sm {
  margin-bottom: 1.5rem; }

.u-m-btm-med {
  margin-bottom: 3rem; }

.u-m-btm-lg {
  margin-bottom: 6rem; }

.u-m-top-sm {
  margin-top: 1.5rem; }

.u-m-top-med {
  margin-top: 3rem; }

.u-m-top-lg {
  margin-top: 6rem; }

/* ------------------------------- Top Navbar ------------------------------- */
.navbar {
  position: fixed;
  z-index: 3;
  height: 60px;
  width: 100vw;
  padding: 0 13.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ropa-sans-pro, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  color: #fafcfc; }
  @media (max-width: 1799.95px) {
    .navbar {
      padding: 0 11.25rem; } }
  .navbar__logo-text {
    font-family: ropa-sans-pro, sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase; }
    .navbar__logo-text__last-name {
      font-weight: 200; }
  .navbar__nav-group {
    display: flex; }
  .navbar__nav-item {
    font-weight: 200;
    font-size: 2rem;
    padding: 0 2rem;
    text-transform: lowercase;
    cursor: pointer; }
    .navbar__nav-item:hover {
      color: #06d6c1; }
  .navbar a {
    text-decoration: none;
    color: inherit; }
  .navbar--opaque {
    transition: background-color 0.5s;
    background-color: rgba(22, 25, 25, 0.98); }

/* ------------------------------ Hero Section ------------------------------ */
.hero {
  width: 100%;
  height: 100vh; }
  .hero__grid {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr min-content min-content 2fr; }
  .hero__bg::before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    display: block;
    background: url("/img/spacebg.png") no-repeat center fixed;
    opacity: 0.1; }
  .hero__headline, .hero__textbox, .hero__cta {
    grid-column: 1 / span 1; }
  .hero__headline {
    width: 85%;
    font-size: 15rem;
    margin-bottom: 0.25em;
    line-height: 1;
    text-transform: uppercase;
    align-self: flex-end;
    grid-row: 3 / span 1; }
    .hero__headline em {
      font-style: normal;
      color: #06d6c1; }
    @media (max-width: 1799.95px) {
      .hero__headline {
        width: 100%;
        font-size: 10rem; } }
    @media (max-width: 1199.95px) {
      .hero__headline {
        width: 90%;
        font-size: 10rem; } }
  .hero__textbox {
    position: relative;
    font-size: 2.2rem;
    width: 50%;
    padding: 0.5em 0;
    padding-left: 2em;
    color: #dae9e9;
    align-self: flex-start;
    grid-row: 4 / span 1; }
    @media (max-width: 1799.95px) {
      .hero__textbox {
        width: 90%;
        font-size: 1.8rem; } }
    @media (max-width: 1199.95px) {
      .hero__textbox {
        width: 90%; } }
  .hero__cta {
    grid-row: 5 / span 1;
    align-self: center;
    justify-self: center; }
    @media (max-width: 1799.95px) {
      .hero__cta .btn--cta {
        font-size: 2.8rem; } }
    @media (max-width: 1199.95px) {
      .hero__cta .btn--cta {
        font-size: 2.4rem; } }

/* -------------------------------------------------------------------------- */
/*                               Project Feature                              */
/* -------------------------------------------------------------------------- */
.project {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 66% auto;
  align-items: center;
  justify-content: space-between; }
  .project__image {
    width: 200%;
    margin-left: 5rem;
    z-index: -1;
    padding: 0; }
    .project__image:hover {
      width: 200%; }
      .project__image:hover img {
        width: 200%; }
    .project__image img {
      width: 100%; }

/* -------------------------------------------------------------------------- */
/*                              Layout Containers                             */
/* -------------------------------------------------------------------------- */
/* ------------------ Generic Responsive Section Container ------------------ */
.section-container {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8em 12em; }
  @media (max-width: 899.95px) and (orientation: portrait) {
    .section-container {
      padding: 4em 4em; } }
  @media (max-width: 599.95px) {
    .section-container {
      padding: 2em 0; } }

/* --------------------------------- Buttons -------------------------------- */
.btn {
  display: inline-flex;
  cursor: pointer;
  font-size: 3.6rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 1;
  font-family: ropa-sans-pro, sans-serif;
  color: #181c1c;
  font-weight: 500;
  transform: translate(0); }
  @media (max-width: 1799.95px) {
    .btn {
      font-size: 3rem; } }
  .btn:active {
    transform: translate(2px, 2px); }
  .btn:hover {
    color: #181c1c; }
  .btn--cta {
    font-size: 3.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-transform: uppercase;
    background-color: #06d6c1;
    padding: 0.5em 1em; }
    .btn--cta img {
      height: 1em;
      transform: translateY(-1px); }
  .btn--primary, .btn--secondary {
    padding: 0.25em 0.66em; }
  .btn--cta:hover, .btn--primary:hover {
    background-color: #07fce4; }
  .btn--primary {
    background-color: #06d6c1; }
  .btn--secondary {
    background-color: #3ba9b8; }
    .btn--secondary:hover {
      background-color: #48b5c4; }
  .btn--clustered:last-child {
    margin-left: 3rem; }
  .btn--clustered:first-child {
    margin-right: 3rem; }

/* ---------------------------- Text Icon Button ---------------------------- */
.btn-icon {
  display: flex;
  gap: 1rem;
  font-family: ropa-sans-pro, sans-serif;
  font-size: 4rem; }

/* ---------------------- Rhombus Glyph Button w. Icon ---------------------- */
.btn-rhombus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: #fafcfc;
  text-align: center; }
  .btn-rhombus:hover .btn-rhombus__shadow-effect {
    border-color: #06d6c1; }
    .btn-rhombus:hover .btn-rhombus__shadow-effect::after, .btn-rhombus:hover .btn-rhombus__shadow-effect::before {
      border: 2px solid #06d6c1; }
  .btn-rhombus img {
    width: 4.7rem;
    transform: rotateZ(45deg); }
  .btn-rhombus__title {
    font-family: ropa-sans-pro, sans-serif;
    font-size: 4.7rem; }
    .btn-rhombus__title--below {
      padding-top: 8rem; }
    .btn-rhombus__title--above {
      padding-bottom: 7.7rem; }
  .btn-rhombus__shadow-effect {
    top: -3rem;
    margin: 0 3rem 0 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border: 3px solid #fafcfc;
    transform: rotateZ(-45deg); }
    .btn-rhombus__shadow-effect::after {
      z-index: -1;
      position: absolute;
      display: flex;
      justify-content: center;
      top: -18%;
      left: 24%;
      opacity: 0.08;
      content: '';
      width: 94%;
      height: 94%;
      border: 2px solid white; }
    .btn-rhombus__shadow-effect::before {
      z-index: -2;
      position: absolute;
      display: flex;
      justify-content: center;
      top: -36%;
      left: 48%;
      opacity: 0.02;
      content: '';
      width: 88%;
      height: 88%;
      border: 2px solid white; }

/* -------------------------- Skill Card Component -------------------------- */
/* -------------------------------------------------------------------------- */
/*                               Panel Component                              */
/* -------------------------------------------------------------------------- */
/*
  A rectangular panel to contain content with a subtle space-y warp 
    shadow effect on it
*/
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem; }
  @media (max-width: 1799.95px) {
    .panel {
      font-size: 0.85rem; } }
  .panel--with-image .panel__body {
    padding: 0; }
  .panel__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    background-color: rgba(24, 28, 28, 0.82);
    line-height: 1.77;
    font-size: 2.2em;
    border: 3px solid #414848;
    padding: 3.5rem 7rem; }
    .panel__body p {
      margin-top: 3.5rem; }
  .panel__shadow-effect {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 97.5%;
    height: 100%;
    top: -5%;
    border: 2px solid #a6afaf; }
    .panel__shadow-effect::after {
      position: absolute;
      opacity: 0.4;
      z-index: -2;
      content: '';
      width: 95%;
      height: 100%;
      top: -5%;
      border: 2px solid #a6afaf; }
  .panel__title {
    color: #fafcfc;
    font-size: 4.5em;
    letter-spacing: 0.25rem;
    margin: 3.5rem 0 1rem 0; }
    .panel__title--for-project {
      align-self: flex-start;
      text-transform: none; }
      .panel__title--for-project a:after {
        margin-left: 1.5rem;
        content: url("/img/i-link-ext.svg"); }
    .panel__title--for-skill-card {
      align-self: center; }
  .panel__footer-bar {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    min-width: 100%;
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    align-items: center; }
    .panel__footer-bar--buttons {
      display: flex;
      justify-self: flex-start;
      align-self: flex-start; }
    .panel__footer-bar--tags {
      display: flex;
      flex-wrap: wrap;
      justify-self: flex-end;
      justify-content: flex-end;
      gap: 1.75rem;
      opacity: 0.8; }

/* -------------------------------------------------------------------------- */
/*                              Graphical Glyphs                              */
/* -------------------------------------------------------------------------- */
/* -------------------------- Circular 45deg Glyph -------------------------- */
.circle-glyph {
  position: absolute;
  z-index: -1;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid #414848; }

.triangle-glyph {
  margin: 3rem;
  width: 350px;
  height: 350px; }
  .triangle-glyph polygon {
    stroke: green; }

/* -------------------------------------------------------------------------- */
/*                                  Info Tag                                  */
/* -------------------------------------------------------------------------- */
.info-tag {
  display: inline-block;
  font-weight: 500;
  font-size: 2.4rem;
  font-family: ropa-sans-pro, sans-serif;
  text-transform: uppercase;
  color: #596363;
  background-color: #1d2121;
  padding: 0rem 0.625em;
  margin: 0; }
  @media (max-width: 1799.95px) {
    .info-tag {
      font-size: 2rem; } }

/* -------------------------------------------------------------------------- */
/*                                 Form Input                                 */
/* -------------------------------------------------------------------------- */
.input {
  display: block;
  overflow: hidden;
  resize: vertical;
  width: 100%;
  background: none;
  background-color: #181c1c;
  border-radius: 0.5rem;
  color: #fafcfc;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  padding: 2rem 2rem;
  border: 2px solid #414848; }
  .input__container {
    position: relative;
    width: 100%; }
  .input:focus {
    outline: none;
    border: 2px solid #a6afaf; }
  .input:focus ~ .text-input-label {
    top: -1.4rem;
    font-size: 1.2rem;
    color: #fafcfc; }
  .input__label {
    margin-left: 0.3rem;
    font-family: ropa-sans-pro, sans-serif;
    font-size: 2.4rem; }

/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center; }
  .about__body {
    margin: 2rem 0;
    font-size: 2.2rem;
    line-height: 3rem; }
  .about__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem; }
  .about__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem; }
  .about__cta-btn {
    margin: 7rem 0; }

/* ---------------------------- Projects Section ---------------------------- */
.projects {
  margin-top: 15rem; }

/* ----------------------------- Skills Section ----------------------------- */
.skills {
  margin: 15rem 0;
  display: flex;
  flex-direction: column; }
  .skills__body {
    margin-top: 7.5rem;
    line-height: 1;
    padding: 2px 2rem;
    color: #fafcfc;
    font-size: 2.4rem; }
    .skills__body--left {
      margin-left: 5px;
      border-left: 5px solid #06d6c1; }
    .skills__body--right {
      text-align: right;
      margin-right: 5px;
      border-right: 5px solid #06d6c1; }
  .skills__cards {
    margin: 7.5rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 7.5rem;
    font-size: 1rem; }
    @media (max-width: 1799.95px) {
      .skills__cards {
        gap: 3.75rem;
        font-size: 0.85rem; }
        .skills__cards .panel__body {
          padding: 3.5rem; } }
    @media (max-width: 1199.95px) {
      .skills__cards {
        margin: 3.75rem 0;
        gap: 1.875rem;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        align-items: center; } }
  .skills__card {
    font-size: 1em;
    text-align: center; }
    .skills__card__title {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 3.6em; }
    .skills__card ul {
      list-style: none;
      font-weight: 300;
      line-height: 1.2; }
      .skills__card ul li:not(:last-child) {
        padding-bottom: 1em; }
  .skills .btn {
    margin: 3.75rem 0;
    align-self: center; }

/* ----------------------------- Hire Me Section ---------------------------- */
.hire-me {
  margin-top: 30rem; }
  .hire-me .panel__title {
    font-size: 4rem;
    color: #dae9e9;
    align-self: center;
    text-transform: none; }
  .hire-me .contact {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hire-me .contact__links {
      display: flex;
      gap: 7rem;
      justify-content: space-evenly;
      align-items: flex-end; }
    .hire-me .contact__message-form {
      padding: 7rem 14rem;
      width: 100rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.5rem; }
    .hire-me .contact .btn {
      margin-top: 1.75rem; }

/* ----------------------------- Footer Section ----------------------------- */
.footer {
  position: relative;
  margin-top: 15rem;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3.5rem;
  font-family: ropa-sans-pro, sans-serif; }
  .footer::before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    display: block;
    background: url("/img/spacebg.png");
    opacity: 0.2; }
  .footer__tagline, .footer__copy {
    font-weight: 200;
    font-size: 2rem; }
  .footer__tagline {
    text-transform: lowercase; }
  .footer .btn-icon {
    margin: 1rem 0;
    font-size: 2rem; }
    .footer .btn-icon img {
      width: 2rem; }
