/* ------------------------------ Hero Section ------------------------------ */
.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__illustration-box {
    text-align: center;
  }

  &__illustration {
    margin-top: 6rem;
  }

  &__headline {
    margin: 6rem 0;
    font-family: $body-font;
    color: $color-black;
    text-align: center;
    line-height: 5rem;
    margin: 7rem;
    &--main {
      font-size: 5.9rem;
      line-height:  7rem;
    }
    &--sub {
      color: lighten($color-black, 15%);
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: 2.5rem;
    }
  }

  &__cta-btn {
    margin-bottom: 7rem;
  }
}