/* ------------------------------ Hero Section ------------------------------ */
.hero {
  width: 100%;
  height: 100vh;

  &__grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 66% 33%;
    grid-template-rows: $navbar-height 1fr min-content 1fr min-content 1fr;
  }

  &__bg {
    &::before {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      display: block;
      background: url('/img/spacebg.png') no-repeat center fixed;
      opacity: 0.1;
    }
  }

  &__headline {
    width: 75%;
    font-size: 13rem;
    line-height: 13rem;
    text-transform: uppercase;
    em {
      font-style: normal;
      color: $color-primary;
    }

    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  &__textbox {
    align-self: flex-start;
    width: 75%;
    position: relative;
    padding-left: 3.3rem;
    color: darken($color-white, 8%);

    grid-column: 1 / 2;
    grid-row: 5 / 6;

    // vertical bar beside textbox
    // &::after {
    //   position: absolute;
    //   top: 0;
    //   left: 1rem;
    //   content: '';
    //   border-left: $textbox-bar-width solid $color-primary;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  &__cta {
    align-self: center;
    justify-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
}
