/* ------------------------------ Hero Section ------------------------------ */
.hero {
  width: 100%;
  height: 100vh;

  &__grid {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-columns: 66% 33%;
    grid-template-rows: $navbar-height 10% min-content 5% min-content 10%;
  }

  &__bg {
    &::before {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      display: block;
      background: url('/img/spacebg.png') no-repeat center fixed;
      opacity: 0.1;
    }
  }

  &__headline {
    width: 66%;
    font-size: 15rem;
    line-height: 1;
    text-transform: uppercase;
    em {
      font-style: normal;
      color: $color-primary;
    }
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    @include for-laptop-down {
      font-size: 10rem;
    }
    @include for-tablet-landscape-down {
      width: 100%;
    }
  }

  &__textbox {
    font-size: 2.2rem;
    width: 75%;
    position: relative;
    padding: 0.5em 0;
    padding-left: 2em;
    line-height: 2.5;
    color: darken($color-white, 10%);

    grid-column: 1 / 2;
    grid-row: 5 / 6;

    @include for-laptop-down {
      width: 90%;
      font-size: 1.8rem;
    }
    @include for-tablet-landscape-down {
      width: 90%;
    }
  }

  &__cta {
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    .btn--cta {
      @include for-laptop-down {
        font-size: 2.8rem;
      }
      @include for-tablet-landscape-down {
        font-size: 2.4rem;
      }
    }
  }
}
