/* ------------------------------- Top Navbar ------------------------------- */
.navbar {
  height: 64px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: rgba($color-pure-black, .2);
  font-family: $heading-font;
  font-weight: 400;
  color: $color-white;

  &__logo-text {
    font-size: 32px;
    text-transform: uppercase;
    &__last-name {
      font-weight: 200;
    }
  }

  &__nav-group {
    display: flex;
  }

  &__nav-item {
    font-weight: 200;
    font-size: 2rem;
    padding: 0 2rem;
    text-transform: lowercase;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}