/* -------------------------------------------------------------------------- */
/*                               Project Feature                              */
/* -------------------------------------------------------------------------- */

.project {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 66% auto;
  align-items: center;
  justify-content: space-between;
  // gap: 4rem;
  @include for-laptop-down {
    // flex-wrap: wrap;
  }

  &__panel {
    @include for-laptop-down {
      // width: 100%;
    }
  }

  &__image {
    width: 200%;
    margin-left: 5rem;
    z-index: -1;
    padding: 0;
    &:hover {
      width: 200%;
      img {
        width: 200%;
      }
    }

    img {
      width: 100%;
    }
  }
}
