/* -------------------------------------------------------------------------- */
/*                               Project Feature                              */
/* -------------------------------------------------------------------------- */

.project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &__panel {
    width: 66%;
  }

  &__image {
    z-index: -1;
    overflow: hidden;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
