/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Base Colours ------------------------------ */
$color-white: #fafcfc;
$color-pure-white: #ffffff;
$color-black: #181c1c;
$color-pure-black: #000000;

$color-grey-light: #eeeeee;
$color-grey-med: #575757;
$color-grey-dark: #434343;

// $color-grey: #e0e3e4;
// $color-grey-light: #f5f7f7;
// $color-grey-dark: darken($color-grey, 10%);

$color-primary: #06d6c1;
$color-primary-highlight: #07fce4;
$color-primary-trans: #22e8ca17;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #3ba9b8;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #e6d963;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);

$color-blue-bright: #00e0ff;

/* ------------------------------ Font Families ----------------------------- */
$body-font: 'Montserrat', sans-serif;
$heading-font: ropa-sans-pro, sans-serif;

/* ------------------------------- Font Sizes ------------------------------- */
$default-font-size: 2.2rem;
$default-p-spacing: 1em;

/* ------------------------------- Dimensions ------------------------------- */
$max-width: 1920px;
$main-padding: 15rem;
$navbar-height: 6rem;
$mobile-navbar-height: $navbar-height * 1.2;
$textbox-bar-width: 5px;
$section-begin-margin: $main-padding;

/* --------------------------------- Speeds --------------------------------- */
$t-fast: 0.1s;
$t-med: 0.2s;
$t-slow: 0.5s;

/* --------------------------------- Panels --------------------------------- */
$panel-border-color: #414848;
$panel-opacity: 1;
$panel-shadow-offset: 5%;
$panel-pad-h: 7rem;
$panel-pad-v: 3.5rem;

/* --------------------------------- Glyphs --------------------------------- */
$glyph-circ-offset: 12%;
$glyph-color: #414848;
