/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Base Colours ------------------------------ */
$color-white: #fafcfc;
$color-grey-text: darken($color-white, 10%);
$color-pure-white: #ffffff;
$color-black: #181c1c;
$color-black-light: lighten($color-black, 3%);
$color-black-dark: darken($color-black, 3%);
$color-black-2: #1b1f1f;
$color-black-3: lighten($color-black-2, 3%);
$color-pure-black: #000000;

$color-panel: #414848;
$color-panel-2: lighten($color-panel, 10%);
$color-panel-3: lighten($color-panel, 15%);

$color-grey-light: #eeeeee;
$color-grey-med: #575757;
$color-grey-dark: #434343;

$color-primary: #06d6c1;
$color-primary-highlight: #07fce4;
$color-primary-trans: #22e8ca17;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #3ba9b8;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #e6d963;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);

$color-green: #06d6c1;
$color-green-dark: darken($color-green, 10%);
$color-green-highlight: #07fce4;

$color-blue: #3ba9b8;
$color-blue-bright: #00e0ff;
$color-blue-highlight: $color-blue-bright;

/* ------------------------------ Font Families ----------------------------- */
$body-font: 'Montserrat', sans-serif;
$heading-font: ropa-sans-pro, sans-serif;
$mono-font: 'JetBrains Mono', monospace;

/* ------------------------------- Font Sizes ------------------------------- */
$default-font-size: 2.2rem;
$default-p-spacing: 1em;

/* ------------------------------- Dimensions ------------------------------- */
$content-max-width: 162rem;
$article-max-width: 120rem;
$screen-max-width: 192rem;
$nav-max-width: 192rem + 1.5rem;
$main-padding: 16rem;
$base-pad-hz: 16rem;
$navbar-height: 5.4rem;
$mobile-navbar-height: $navbar-height * 1.2;
$textbox-bar-width: 5px;
$section-begin-margin: $main-padding;

/* --------------------------- Panes (nee Panels) --------------------------- */
$pane-delta: 5px;
$pane-delta-b: 1%;
$pane-border-w: 1px;
$pane-border: darken(#414848, 2%);
$pane-bg: $color-black-2;

/* --------------------------------- Speeds --------------------------------- */
$t-fast: 0.1s;
$t-med: 0.2s;
$t-slow: 0.5s;

/* --------------------------------- Panels --------------------------------- */
$panel-border-color: #414848;
$panel-opacity: 1;
$panel-shadow-offset: 5%;
$panel-pad-h: 7rem;
$panel-pad-v: 3.5rem;

/* --------------------------------- Glyphs --------------------------------- */
$glyph-circ-offset: 12%;
$glyph-color: #414848;
