<footer class="footer">
  <div class="footer__title">
    <div class="navbar__logo-text">
      Stacy <span class="navbar__logo-text__last-name">Gaudreau</span>
    </div>
    <div class="footer__tagline">Software Developer & Technologist</div>
  </div>
  <div class="navbar__nav-group">
    <div class="navbar__nav-item">
      <a href="#projects">Projects</a>
    </div>
    <div class="navbar__nav-item">
      <a href="#skills">Skills</a>
    </div>
    <div class="navbar__nav-item">
      <a href="#contact">Hire Me</a>
    </div>
  </div>
  <div class="contact__links">
    <a href="#email" class="btn-icon"
      ><img src="./img/i-email.svg" alt="Email" /> Email Me</a
    >
    <a href="#linkedin" class="btn-icon"
      ><img src="./img/i-linkedin.svg" alt="LinkedIn" />My Profile</a
    >
  </div>
  <div class="span footer__copy" id="footer-copy">&copy2021 Stacy Gaudreau</div>
</footer>
