{{ if or (eq .Type "blog") (eq .Type "project") }}

{{ if eq .Type "project" }}
  {{/*  project uses "feature" text  */}}
  {{ with .Resources.GetMatch "feature_text.md" }}
    <meta
    name="description"
    content="{{ .Content }}"/>
  {{ end }}
  {{/*  blog uses "intro" text */}}
{{ else }}
  {{ with .Resources.GetMatch "intro.md" }}
    <meta
    name="description"
    content="{{ .Content }}"/>
  {{ end }}
{{ end }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta
  property="og:title"
  content="{{ .Title }} | Stacy Gaudreau"
/>
{{ if eq .Type "project" }}
  {{/*  project uses "feature" text  */}}
  {{ with .Resources.GetMatch "feature_text.md" }}
    <meta
    property="og:description"
    content="{{ .Content }}"/>
  {{ end }}
  {{/*  blog uses "intro" text */}}
{{ else }}
  {{ with .Resources.GetMatch "intro.md" }}
    <meta
    name="og:description"
    content="{{ .Content }}"/>
  {{ end }}
{{ end }}

{{ with $feature := .Resources.GetMatch "images/feature.*" }}
  {{ $feature := $feature.Fit "1200x500" }}
    <meta
      property="og:image"
      content="{{ $feature.Permalink }}"
    />
{{ end }}


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta
  property="twitter:title"
  content="{{ .Title }} | Stacy Gaudreau"
/>
{{ if eq .Type "project" }}
  {{/*  project uses "feature" text  */}}
  {{ with .Resources.GetMatch "feature_text.md" }}
    <meta
    property="twitter:description"
    content="{{ .Content }}"/>
  {{ end }}
  {{/*  blog uses "intro" text */}}
{{ else }}
  {{ with .Resources.GetMatch "intro.md" }}
    <meta
    name="twitter:description"
    content="{{ .Content }}"/>
  {{ end }}
{{ end }}

{{ with $feature := .Resources.GetMatch "images/feature.*" }}
  {{ $feature := $feature.Fit "1200x500" }}
    <meta
      property="twitter:image"
      content="{{ $feature.Permalink }}"
    />
{{ end }}
{{ else }}
  {{/*  default meta template for any other types  */}}
  {{ partial "meta_default.html" . }}
{{ end }}

