<!-- OpenGraph meta properties -->
<meta
  name="description"
  content="Hey, I'm Stacy.

I’m a full stack software and systems developer who works with desktops, servers and the web.

In a past life, I founded an audio synthesizer company and developed electronic hardware."
/>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://stacygaudreau.com/" />
<meta
  property="og:title"
  content="Stacy Gaudreau | Software & Full Stack Developer"
/>
<meta
  property="og:description"
  content="Hey, I'm Stacy.

I’m a full stack software and systems developer who works with desktops, servers and the web.

In a past life, I founded an audio synthesizer company and developed electronic hardware."
/>
<meta
  property="og:image"
  content="https://stacygaudreau.com/img/stacy-gaudreau.png"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://stacygaudreau.com/" />
<meta
  property="twitter:title"
  content="Stacy Gaudreau | Software & Full Stack Developer"
/>
<meta
  property="twitter:description"
  content="Hey, I'm Stacy.

I’m a full stack software and systems developer who works with desktops, servers and the web.

In a past life, I founded an audio synthesizer company and developed electronic hardware."
/>
<meta
  property="twitter:image"
  content="https://stacygaudreau.com/img/stacy-gaudreau.png"
/>
