<nav class="navbar" id="navbar">
  <!-- prettier-ignore -->
  <div 
    class="navbar__content {{ if .IsHome  }}navbar__content--is-wider{{ end }}"
  >
    <h1 class="navbar__logo-text">
      <a href="/"
        >Stacy <span class="navbar__logo-text__last-name">Gaudreau</span></a
      >
    </h1>
    <div class="navbar__nav-group">
      <div class="navbar__nav-item">
        <a href="/#projects">Projects</a>
      </div>
      <div class="navbar__nav-item">
        <a href="/#skills">Skills</a>
      </div>
      <div class="navbar__nav-item">
        <a href="/#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="nav-mobile">
    <a href="/#projects" class="nav-mobile__item">
      <img src="/img/i-menu-see.svg" alt="projects" />
      Projects
    </a>
    <a href="/#skills" class="nav-mobile__item">
      <img src="/img/i-menu-list.svg" alt="projects" />
      Skills
    </a>
    <a href="/#contact" class="nav-mobile__item">
      <img src="/img/i-menu-contact.svg" alt="projects" />
      Contact
    </a>
  </div>
</nav>
