/* -------------------------------------------------------------------------- */
/*                               Single Article                               */
/* -------------------------------------------------------------------------- */

.article {
  $p-top: 6rem;
  $m-right: 3em;
  $col-w: 70%;
  font-size: 1rem;

  &__content,
  &__header-content,
  &__intro {
    margin: 0 auto;
    max-width: $article-max-width;
    @include has-expanding-hz-padding;
  }

  &__intro {
    margin-top: $p-top;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    display: block;
    background: url('../img/spacebg.png') no-repeat center fixed;
    opacity: 0.1;
    height: 70%;
    @include for-tablet-portrait-down {
      height: 75%;
    }
  }

  &__header {
    position: relative;
    font-size: 1em;
    padding-top: #{$navbar-height + $p-top};

    h1 {
      letter-spacing: -0.5px;
      font-size: 5em;
      font-weight: 500;
      margin: 0.6em 0;
      line-height: 1;
    }

    p {
      font-weight: 300;
      font-size: 2.8em;
      width: $col-w;
      padding-right: $m-right;
      @include for-tablet-portrait-down {
        padding-right: $m-right / 2;
      }
      @include for-mobile-only {
        padding-right: $m-right / 3;
      }
      line-height: 1.125;
    }
  }

  &__categories,
  &__meta--tags,
  &__meta--date {
    font-size: 1.8em;
    color: $color-blue-bright;
    font-family: $heading-font;
  }

  &__categories,
  &__meta--tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__categories {
    a {
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:not(:last-child) {
        &::after {
          color: $color-white;
          content: '/';
          margin-left: 1rem;
        }
      }
    }
  }

  &__meta {
    margin-top: 3em;
    margin-bottom: $p-top;
    width: $col-w;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-tablet-landscape-down {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5em;
      &--tags {
        order: 1;
      }
    }
    &--date {
      margin-right: $m-right;
    }
  }

  &__image {
    &--main {
      img {
        width: 100%;
      }
    }
  }

  &__graphic {
    $dot-size: 2px;
    $dot-space: 40px;
    $dot-color: $color-secondary;
    opacity: 0.25;
    position: absolute;
    &--right {
      top: 0;
      height: 90vh;
      right: -100vw;
      left: 70%;
    }
    &--left {
    }
    z-index: -1;
    background-image: radial-gradient(
      circle at $dot-size $dot-size,
      $dot-color $dot-size,
      transparent 0
    );
    background-size: $dot-space $dot-space;
  }
}
