/* -------------------------------------------------------------------------- */
/*                               Single Article                               */
/* -------------------------------------------------------------------------- */

.article {
  $p-top: 8rem;
  // @include has-xtra-large-responsive-hz-padding;
  font-size: 1rem;
  max-width: $article-max-width;

  &__bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    content: '';
    display: block;
    background: url('../img/spacebg.png') no-repeat center fixed;
    opacity: 0.1;
    height: 80vh;
    @include for-tablet-portrait-down {
      height: 60vh;
    }
  }

  &__header {
    position: relative;
    font-size: 1em;
    padding-top: #{$navbar-height + $p-top};

    h1 {
      letter-spacing: -0.5px;
      font-size: 5em;
      font-weight: 500;
      margin: 0.6em 0;
      line-height: 1;
    }

    p {
      font-weight: 300;
      font-size: 2.4em;
      width: 70%;
      line-height: 1.125;
    }
  }

  &__categories,
  &__meta--tags,
  &__meta--date {
    font-size: 1.8em;
    color: $color-secondary;
    font-family: $heading-font;
  }

  &__categories,
  &__meta--tags {
    display: flex;
    gap: 1rem;
  }

  &__categories {
    a {
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:not(:last-child) {
        &::after {
          color: $color-white;
          content: '/';
          margin-left: 1rem;
        }
      }
    }
  }

  &__meta {
    margin-top: 3em;
    margin-bottom: $p-top;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-tablet-landscape-down {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5em;
      &--tags {
        order: 1;
      }
    }
  }

  &__image {
    &--main {
      img {
        width: 100%;
      }
    }
  }

  &__graphic {
    width: 500px;
    height: 500px;
    $dot-size: 2px;
    $dot-space: 22px;

    background: linear-gradient(
          90deg,
          $color-black ($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient($color-black ($dot-space - $dot-size), transparent 1%)
        center,
      $color-white;
    background-size: $dot-space $dot-space;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 0.5em 0;
    font-weight: 500;
  }

  h2 {
    font-size: 3.8em;
  }

  h3 {
    font-size: 2.4em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.6em;
    line-height: 1.6;
    margin: 1em 0;
  }

  .blockquote__title,
  .codeblock__title {
    margin-bottom: 0;
    margin-left: 0.5em;
  }
  .blockquote__title {
    font-size: 1.8em;
    font-weight: 500;
  }
  .codeblock__title {
    font-family: $mono-font;
    color: $color-primary-highlight;
    font-weight: 500;
  }
}
