/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center;
  &__body {
    margin: 2rem 0;
    font-size: $default-font-size;
    line-height: 3rem;
  }
  &__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem;
  }
  &__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  &__cta-btn {
    margin: 7rem 0;
  }
}

/* ---------------------------- Projects Section ---------------------------- */
.projects {
  max-width: $content-max-width;
  @include centre-on-tablet-portrait-down();
}

/* ----------------------------- Skills Section ----------------------------- */
.skills {
  &__wrapper {
    $clip-skew: 5%;
    position: relative;
    clip-path: polygon(0 0, 100% $clip-skew, 100% 100%, 0 100%-$clip-skew);
    background-color: $color-black-dark;
    max-width: 192rem;
    margin: 0 auto;
    padding-bottom: $base-pad-hz;
  }

  display: flex;
  flex-direction: column;
  position: relative;
  // &:before {
  //   z-index: -4;
  //   position: absolute;
  //   content: '';
  //   width: 192rem;
  //   height: 100%;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   clip-path: polygon(0 0, 100 50%, 50% 100%);
  // }

  .section-title {
    margin-bottom: $base-pad-hz / 4;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: $base-pad-hz / 2;
    @include centre-on-tablet-portrait-down();
    @include for-tablet-portrait-down {
      gap: $base-pad-hz / 4;
    }
  }

  &__body {
    margin: 0;
    font-size: 1rem;
    padding: 2px 2rem;
    color: $color-white;
    p {
      font-size: 2em;
      line-height: 1.25;
    }
    &--left {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
      margin-left: $textbox-bar-width;
      margin-right: auto;
      border-left: $textbox-bar-width solid $color-green;
    }
    &--right {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2;
      text-align: right;
      margin-right: $textbox-bar-width;
      margin-left: auto;
      border-right: $textbox-bar-width solid $color-green;
    }
    // @include for-tablet-portrait-down {
    //   font-size: 2.2rem;
    // }
    // @include for-mobile-only {
    //   font-size: 2rem;
    // }
    @include for-tablet-portrait-down {
      margin: $base-pad-hz/8 0;
      font-size: 0.9rem;
    }
  }

  &__cards {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: $base-pad-hz / 2;
    font-size: 1rem;
    @include for-tablet-portrait-down {
      li {
        font-size: 1.6rem;
      }
      gap: $base-pad-hz / 8;
    }
    .halftone {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 150%;
      height: 150%;
      z-index: -5;
    }
  }

  &__card {
    font-size: 1rem;
    position: relative;
    @include for-mobile-only {
      font-size: 0.7rem;
    }
    text-align: center;

    &__title {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 2.4em;
      font-weight: 400;
      line-height: 1;
    }

    ul {
      list-style: none;
      font-weight: 300;
      line-height: 1.2;
      font-size: 2.2em;
      li {
        &:not(:last-child) {
          padding-bottom: 1em;
          // border-bottom: 1px solid lighten($color-black, 5%);
        }
      }
    }
  }

  .btn {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    margin: calc($section-begin-margin / 4) 0;
    align-self: center;
    justify-self: center;
  }
}

/* ----------------------------- Hire Me Section ---------------------------- */
.hire-me {
  @include centre-on-tablet-portrait-down();
  // margin-top: $section-begin-margin * 2;

  .panel__title {
    font-size: 4rem;
    color: darken($color-white, 10%);
    align-self: center;
    text-transform: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__links {
      display: flex;
      gap: $panel-pad-h;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    &__message-form {
      padding: $panel-pad-h $panel-pad-h * 2;
      width: 100rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $panel-pad-v;
    }

    .btn {
      margin-top: calc($panel-pad-v/2);
    }
  }
}
