/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center;
  &__body {
    margin: 2rem 0;
    font-size: $default-font-size;
    line-height: 3rem;
  }
  &__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem;
  }
  &__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  &__cta-btn {
    margin: 7rem 0;
    white-space: nowrap;
  }
}

/* ---------------------------- Projects Section ---------------------------- */
.projects {
  @include centre-on-tablet-portrait-down();
}

/* ----------------------------- Skills Section ----------------------------- */
.skills {
  @mixin clip-polygon($skew) {
    clip-path: polygon(0 0, 100% $skew, 100% 100%, 0 100%-$skew);
  }
  &__wrapper {
    position: relative;
    background-color: $color-black-dark;
    max-width: 192rem;
    margin: 0 auto;
    padding-bottom: $base-pad-hz / 4;
    padding-top: $base-pad-hz / 4;
    @include clip-polygon(5%);
    @include for-mobile-only {
      @include clip-polygon(2.5%);
    }
  }
  display: flex;
  flex-direction: column;
  .section-title {
    margin-bottom: $base-pad-hz / 4;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: $base-pad-hz / 2;
    @include centre-on-tablet-portrait-down();
    @include for-tablet-portrait-down {
      gap: $base-pad-hz / 4;
    }
    @include for-mobile-only {
      gap: 0;
    }
  }

  &__body {
    margin: 0;
    font-size: 1rem;
    padding: 2px 2rem;
    color: $color-grey-text;
    p {
      font-size: 1.9em;
      line-height: 1.25;
    }
    &--left {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
      margin-left: $textbox-bar-width;
      margin-right: auto;
      border-left: $textbox-bar-width solid $color-green;
    }
    &--right {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2;
      text-align: right;
      margin-right: $textbox-bar-width;
      margin-left: auto;
      border-right: $textbox-bar-width solid $color-green;
    }
    @include for-tablet-portrait-down {
      margin: $base-pad-hz/8 0;
      font-size: 0.9rem;
    }
  }

  &__cards {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: $base-pad-hz / 2;
    font-size: 1rem;
    .halftone {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 150%;
      height: 150%;
      z-index: -5;
    }
    @include for-tablet-portrait-down {
      li {
        font-size: 1.6rem;
      }
      gap: $base-pad-hz / 8;
    }
    @include for-mobile-only {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: $base-pad-hz / 10;
    }
  }

  &__card {
    font-size: 1rem;
    position: relative;
    text-align: center;
    @include for-mobile-only {
      align-self: center;
    }

    &__title {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 3em;
      font-weight: 400;
      line-height: 1;
      @include for-tablet-portrait-down {
        font-size: 2.4em;
      }
    }

    ul {
      list-style: none;
      font-weight: 300;
      line-height: 1.2;
      font-size: 1rem;
      li {
        font-size: 2em;
        &:not(:last-child) {
          padding-bottom: 1em;
        }
      }
    }
  }

  .btn {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    margin: calc($section-begin-margin / 4) 0;
    align-self: center;
    justify-self: center;
    @include for-tablet-portrait-down {
      margin-top: $base-pad-hz / 6;
    }
    @include for-mobile-only {
      margin: $base-pad-hz / 4 0;
    }
  }
}

/* ----------------------------- Hire Me Section ---------------------------- */
.hire-me {
  @include centre-on-tablet-portrait-down();

  .pane__title {
    font-weight: 400;
    text-align: center;
    text-transform: none;
  }

  .contact {
    width: 100%;
    margin-top: $base-pad-hz / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-pad-hz / 4;
    @include for-tablet-portrait-down {
      margin-top: $base-pad-hz / 4;
      gap: $base-pad-hz / 6;
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      gap: 1rem;
      .btn {
        font-size: 3.2rem;
        padding: 0.5em;
      }
      @include for-mobile-only {
        padding: 0;
        gap: 0;
        .btn {
          font-size: 1.9rem;
        }
      }
    }

    &__form-wrapper {
      width: 100%;
    }

    &__message-form {
      margin: 0 auto;
      padding: $base-pad-hz / 4 $base-pad-hz / 2;
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $base-pad-hz / 4;
      @include for-laptop-down {
        width: 66%;
      }
      @include for-tablet-portrait-down {
        width: 90%;
        padding: $base-pad-hz / 4 $base-pad-hz / 4;
      }
      @include for-mobile-only {
        width: 100%;
        padding: $base-pad-hz / 6 $base-pad-hz / 8;
      }
    }

    .btn {
      margin-top: calc($panel-pad-v/2);
      white-space: nowrap;
    }
  }
}
