{{ define "main" }}
<main>
  <!-- HERO -->
  <header class="hero">
    <div class="hero__bg"></div>
    <section class="hero__content">
      {{ with .Site.GetPage "hero.md" }}
        <h1 class="hero__headline">
          {{ .Params.headline | safeHTML }}
        </h1>
        <div class="hero__content-row">
          <div class="hero__textbox with-textbar--left">
            {{ .Content }}
          </div>
          <div class="hero__cta">
            <a href="/#projects" class="btn btn--green btn--large">
              <img src="/img/i-eye-blk.svg" alt="see my projects" />
              <span>{{ .Params.btnText }}</span>
            </a>
          </div>
        </div>
      {{ end }}
    </section>
  </header>

  <!-- PROJECTS -->
  <section class="projects section">
    <header class="section-title" id="projects">
      <div class="halftone halftone--fade-hz-right"></div>
      <h2 class="section-title__text">Projects</h2>
    </header>
    <!-- Project Features List -->
    {{ range (where .Site.Pages "Type" "project") }}
    <article class="project">
      <div class="halftone"></div>
      <div class="halftone"></div>
      <section class="pane__wrapper">
        <h3 class="pane__title pane__title--for-project">
          <a href="{{ .Params.demoUrl }}" class="">{{ .Params.shortTitle }}</a>
        </h3>
        <div class="pane">
          <div class="pane__shadow pane__shadow--corner-t-l"></div>
          <div class="pane__shadow pane__shadow--corner-t-l"></div>
          <!-- Feature Excerpt Text  -->
          {{ with .Resources.GetMatch "feature_text.md" }} {{ .Content }} {{ end
          }}
          <div class="project__meta">
            <div class="project__btns">
              <a href="{{ .Permalink }}" class="btn btn--small btn--green">READ MORE</a>
              {{ if eq .Params.disableDemoBtn false }} 
                {{ with .Params.codeUrl }}
                  <a href="{{ . }}" class="btn btn--small btn--blue">Code</a>
                {{ else }}
                  <a href="{{ .Params.demoUrl }}" class="btn btn--small btn--blue">Demo</a>
                {{ end }} 
              {{ end }}
            </div>
            <div class="project__tags">
              {{ range .Params.stack }}
              <span class="info-tag info-tag--light">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
      <div class="project__image">
        <!-- prettier-ignore -->
        <a href="{{ .RelPermalink }}">
          <img 
            {{ with .Resources.GetMatch "images/preview.*" }}
              src="{{.RelPermalink}}" 
            {{ end }} 
            alt="{{ .Params.shortTitle }} project image"
          />
        </a>
      </div>
    </article>
    {{ end }}
  </section>

  <!-- SKILLS -->
  <div class="edge-highlight-wrapper">
    <div class="skills__wrapper">
      <div class="skills section">
        <header class="section-title" id="skills">
          <div class="halftone halftone--fade-hz-right halftone--dark"></div>
          <h2 class="section-title__text">Skills & Technologies</h2>
        </header>
        <div class="skills__grid">
          <div class="skills__body skills__body--left">
            {{ with .Site.GetPage "/skills-top.md" }}
              {{ .Content }}
            {{ end }}
          </div>
          {{ if eq .Params.hasCheese true }}
            CHEESEY
          {{ end }}
          <section class="skills__cards">
            <!-- Skills Cards -->
            {{ range .Site.Data.skills.cards.cards }}
            <div class="skills__card pane__wrapper">
              <div class="halftone halftone--card halftone--dark"></div>
              <h4 class="skills__card__title pane__title">{{ .heading }}</h4>
              <div class="pane">
                <div class="pane__shadow pane__shadow--corner-t-r"></div>
                <div class="pane__shadow pane__shadow--corner-t-r"></div>
                <ul>
                  {{ range .skills }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
            {{ end }}
          </section>
          {{ with .Site.Params.cvDownloadUrl }}
            <a href="{{ . }}" class="btn btn--large btn--green">
              <img src="./img/i-download.svg" alt="download symbol" />
              <span>Download CV</span>
            </a>
          {{ end }}
          <div class="skills__body skills__body--right">
            {{ with .Site.GetPage "/skills-bottom.md" }}
              {{ .Content }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hire Me -->
  <section class="hire-me section">
    <header class="section-title">
      <div class="halftone halftone--fade-hz-right"></div>
      <h2 class="section-title__text">Like what you see?</h2>
    </header>
    <section class="contact" id="contact">
      <div class="pane__wrapper">
        <h3 class="pane__title">Let's talk.</h3>
        <div class="pane">
          <div class="div contact__links">
            <div class="pane__shadow pane__shadow--corner-t-l"></div>
            <div class="pane__shadow pane__shadow--corner-t-l"></div>
            {{ with .Site.Params.contactEmail }}
              <a
                href="mailto:{{ . }}"
                class="btn btn--text-icon"
                ><img src="./img/i-email.svg" alt="Email" /> Email Me</a
              >
            {{ end }}
            {{ with .Site.Params.linkedinUrl }}
              <a
                href="{{ . }}"
                class="btn btn--text-icon"
                ><img src="./img/i-linkedin.svg" alt="LinkedIn" />My Profile</a
              >
            {{ end }}
          </div>
        </div>
      </div>
      {{/*  <div class="pane__wrapper contact__form-wrapper">  */}}
      </div>
    </section>
  </section>
</main>
{{ end }}
