{{ define "main" }}
<main>
  <!-- HERO -->
  <header class="hero">
    <div class="hero__bg"></div>
    <section class="hero__content">
      <h1 class="hero__headline">
        I turn ideas into <em>reality</em> with code
      </h1>
      <div class="hero__content-row">
        <div class="hero__textbox with-textbar--left">
          <p>
            I'm a software developer with deep understanding of hardware systems
          </p>
          <p>
            In a past life, I founded an audio synthesizer company, developing
            and manufacturing over a dozen consumer electronic devices
          </p>
        </div>
        <div class="hero__cta">
          <a href="/#projects" class="btn btn--green btn--large">
            <img src="/img/i-eye-blk.svg" alt="see my projects" />
            <span>See My Projects</span>
          </a>
        </div>
      </div>
    </section>
  </header>

  <!-- PROJECTS -->
  <section class="projects section">
    <header class="section-title" id="projects">
      <div class="halftone halftone--fade-hz-right"></div>
      <h2 class="section-title__text">Projects</h2>
    </header>
    <!-- Project Features List -->
    {{ range (where .Site.Pages "Type" "project") }}

    <article class="project">
      <div class="halftone"></div>
      <div class="halftone"></div>
      <section class="pane__wrapper">
        <h3 class="pane__title pane__title--for-project">
          <a href="{{ .Params.demoUrl }}" class="">{{ .Params.shortTitle }}</a>
        </h3>
        <div class="pane">
          <div class="pane__shadow pane__shadow--corner-t-l"></div>
          <div class="pane__shadow pane__shadow--corner-t-l"></div>
          <!-- Feature Excerpt Text  -->
          {{ with .Resources.GetMatch "feature_text.md" }} {{ .Content }} {{ end
          }}
          <div class="project__meta">
            <div class="project__btns">
              <a href="{{ .Permalink }}" class="btn btn--small btn--green"
                >Documentation</a
              >
              <a href="{{ .Params.codeUrl }}" class="btn btn--small btn--blue"
                >Code</a
              >
            </div>
            <div class="project__tags">
              {{ range .Params.stack }}
              <span class="info-tag info-tag--light">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
      <div class="project__image">
        <!-- prettier-ignore -->
        <img 
          {{ with .Resources.GetMatch "images/preview.*" }}
            src="{{.RelPermalink}}" 
          {{ end }} 
          alt="{{ .Params.shortTitle }} project image"
        />
      </div>
    </article>
    {{ end }}
  </section>

  <!-- SKILLS -->
  <div class="skills__wrapper">
    <div class="skills section">
      <header class="section-title" id="skills">
        <div class="halftone halftone--fade-hz-right halftone--dark"></div>
        <h2 class="section-title__text">Skills & Technologies</h2>
      </header>
      <div class="skills__grid">
        <div class="skills__body skills__body--left">
          <p>
            With a decade of first-hand business experience, I'm especially
            interested in the finance, business logic and infrastructure
            monitoring sectors.
          </p>
          <p>
            Some of my favourite languages to work in include Python, C/C++ and
            JavaScript.
          </p>
        </div>
        <section class="skills__cards">
          <!-- Skills Cards -->
          {{ range .Site.Data.skills.cards.cards }}

          <div class="skills__card pane__wrapper">
            <div class="halftone halftone--card halftone--dark"></div>
            <h4 class="skills__card__title pane__title">{{ .heading }}</h4>
            <div class="pane">
              <div class="pane__shadow pane__shadow--corner-t-r"></div>
              <div class="pane__shadow pane__shadow--corner-t-r"></div>
              <ul>
                {{ range .skills }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}
        </section>
        <a href="#download-cv" class="btn btn--large btn--green">
          <img src="./img/i-download.svg" alt="" />
          <span>Download My CV</span>
        </a>
        <div class="skills__body skills__body--right">
          <p>
            I'm an avid "homelabber" and operate a moderate sized server rack of
            compute and storage technology for learning and enjoyment.
          </p>
          <p>
            When I'm not writing code I can be found gardening, hiking and
            riding motorcycles.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Hire Me -->
  <section class="hire-me section">
    <header class="section-title">
      <div class="halftone halftone--fade-hz-right"></div>
      <h2 class="section-title__text">Like what you see?</h2>
    </header>
    <section class="contact" id="contact">
      <div class="pane__wrapper">
        <h3 class="pane__title">Let's talk.</h3>
        <div class="pane">
          <div class="div contact__links">
            <div class="pane__shadow pane__shadow--corner-t-l"></div>
            <div class="pane__shadow pane__shadow--corner-t-l"></div>
            <a href="#email" class="btn btn--text-icon"
              ><img src="./img/i-email.svg" alt="Email" /> Email Me</a
            >
            <a href="#linkedin" class="btn btn--text-icon"
              ><img src="./img/i-linkedin.svg" alt="LinkedIn" />My Profile</a
            >
          </div>
        </div>
      </div>
      <div class="pane__wrapper contact__form-wrapper">
        <h3 class="pane__title">Send Message</h3>
        <form
          class="pane contact__message-form"
          method="POST"
          action="https://getform.io/f/5fac66e6-d538-4e8d-b979-4edd42f3407c"
        >
          <div class="pane__shadow pane__shadow--corner-t-r"></div>
          <div class="pane__shadow pane__shadow--corner-t-r"></div>
          <div class="input__container">
            <label for="name" class="input__label">Name</label>
            <input type="text" name="name" id="name" class="input" />
          </div>
          <div class="input__container">
            <label for="email" class="input__label">Email</label>
            <input type="text" name="email" id="email" class="input" />
          </div>
          <div class="input__container">
            <label for="message" class="input__label">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              class="input"
            ></textarea>
          </div>
          <button
            class="btn btn--green btn--large"
            type="submit"
            action="submit"
          >
            <img src="/img/i-send.svg" alt="send message icon" />
            Send Message
          </button>
        </form>
      </div>
    </section>
  </section>
</main>
{{ end }}
