/* --------------------------------- Buttons -------------------------------- */
.btn {
  display: flex;
  font-size: 3.6rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 1;
  font-family: $heading-font;
  color: $color-black;
  font-weight: 500;
  transform: translate(0);

  &:active {
    transform: translate(2px, 2px);
  }

  &:hover {
    color: $color-black;
  }

  &--cta {
    font-size: 3.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-transform: uppercase;
    background-color: $color-primary;
    padding: 0.5em 1em;
    img {
      height: 1em;
      transform: translateY(-1px);
    }
  }

  &--primary,
  &--secondary {
    padding: 0.25em 0.66em;
  }

  &--primary {
    background-color: $color-primary;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
  }

  &--clustered {
    &:last-child {
      margin-left: 3rem;
    }
    &:first-child {
      margin-right: 3rem;
    }
  }
}

/* ---------------------------- Text Icon Button ---------------------------- */
.btn-icon {
  display: flex;
  gap: 1rem;
  font-family: $heading-font;
  font-size: 4rem;
}

/* ---------------------- Rhombus Glyph Button w. Icon ---------------------- */
.btn-rhombus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: $color-white;
  text-align: center;

  &:hover {
    .btn-rhombus__shadow-effect {
      border-color: $color-primary;
      &::after,
      &::before {
        border: 2px solid $color-primary;
      }
    }
  }

  img {
    width: 4.7rem;
    transform: rotateZ(45deg);
  }

  &__title {
    font-family: $heading-font;
    font-size: 4.7rem;
    &--below {
      padding-top: 8rem;
    }
    &--above {
      // max-width: 20rem;
      padding-bottom: 7.7rem;
    }
    // max-width: 20rem;
  }

  &__shadow-effect {
    // main rhombus box
    top: -3rem;
    margin: 0 3rem 0 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border: 3px solid $color-white;
    transform: rotateZ(-45deg);

    // 1st shadow line
    &::after {
      z-index: -1;
      position: absolute;
      display: flex;
      justify-content: center;
      top: -3 * $glyph-circ-offset/2;
      left: $glyph-circ-offset * 2;
      opacity: 0.08;
      content: '';
      width: 100% - $glyph-circ-offset/2;
      height: 100% - $glyph-circ-offset/2;
      border: 2px solid lighten($color-white, 40%);
    }

    // 2nd shadow line
    &::before {
      z-index: -2;
      position: absolute;
      display: flex;
      justify-content: center;
      top: -3 * $glyph-circ-offset;
      left: $glyph-circ-offset * 4;
      opacity: 0.02;
      content: '';
      width: 100% - $glyph-circ-offset;
      height: 100% - $glyph-circ-offset;
      border: 2px solid lighten($color-white, 40%);
    }
  }
}
