/* -------------------------------------------------------------------------- */
/*                                  Info Tag                                  */
/* -------------------------------------------------------------------------- */

.info-tag {
  display: inline-block;
  font-weight: 500;
  font-size: 2.4rem;
  font-family: $heading-font;
  text-transform: uppercase;
  color: lighten($panel-border-color, 10%);
  background-color: lighten($color-black, 2%);
  border-radius: 1rem;
  border: 2px solid $panel-border-color;
  padding: 0rem 1.5rem;
  margin: 0;
}
