/* -------------------------------------------------------------------------- */
/*                               Panel Component                              */
/* -------------------------------------------------------------------------- */
/*
  A rectangular panel to contain content with a cool space-y warp 
    shadow effect on it
*/
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $panel-pad-h $panel-pad-v;
  margin: 10rem 7rem;
  background-color: rgba($color-black, $panel-opacity);
  line-height: 1.77;
  border: 3px solid $panel-border-color;

  &__shadow-effect {
    // 1st shadow line (behind panel)
    position: absolute;
    opacity: .1;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 100% - $panel-shadow-offset/2; 
    height: 100%;
    top: -$panel-shadow-offset;
    border: 2px solid lighten($panel-border-color, 40%);

    // 2nd shadow line
    &::after {
      position: absolute;
      opacity: .4;
      z-index: -2;
      content: '';
      width: 100% - $panel-shadow-offset; 
      height: 100%;
      top: -$panel-shadow-offset;
      border: 2px solid lighten($panel-border-color, 40%);
    }
  }

  &__title {
    text-transform: none;
    position: absolute;
    align-self: flex-start;
    // color: darken($color-white, 10%);
    top: -$panel-pad-v; 
    left: 0;
    font-size: 4rem;
    letter-spacing: .5rem;
  }
}