/* ---------------------------------- Base ---------------------------------- */

/* 
  Typical reset for new project 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // inherit box-sizing from body:
  box-sizing: inherit;
}

/* root font size */
html {
  /*
    10px is a nice number to work with for REM calculations
    default browser size is 16px so we want 62.5% 
  */
  font-size: 62.5%;
}
  
/* font/global properties in body selector */
body {
  box-sizing: border-box;
  background-color: $color-white;
}