/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Typography Base ---------------------------- */
body {
  font-family: $body-font;
  font-weight: 400;
  font-size: $default-font-size;
color: $color-white;
}

/* --------------------------------- Headers -------------------------------- */
h1, h2, h3, h4, h5, h6, 
.section-title {
  font-family: $heading-font;
  font-weight: 400;
  text-transform: uppercase;
}

/* ------------------------------- Block Text ------------------------------- */
p {
  margin: ($default-p-spacing / 2) 0;
  line-height: 1.5;
}

/* ----------------------------- Section Titles ----------------------------- */
.section-title {
  position: relative;
  margin-top: $section-begin-margin;

  &__text {
    font-size: 6.5rem;
  }

  &__glyph-effect {
    opacity: 1;
    top: -2rem;
    left: -6rem;
    position: absolute;
    z-index: -1;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid $glyph-color; 
    &::after {
      position: absolute;
      opacity: .08;
      z-index: -2;
      content: '';
      width: 100% - $glyph-circ-offset; 
      height: 100% - $glyph-circ-offset;
      top: -$glyph-circ-offset;
      left: -$glyph-circ-offset;
      border: 2px solid lighten($glyph-color, 40%);
      border-radius: 50%;
    }
    &::before {
      position: absolute;
      opacity: .03;
      z-index: -3;
      content: '';
      width: 100% - $glyph-circ-offset*2; 
      height: 100% - $glyph-circ-offset*2;
      top: -$glyph-circ-offset*2;
      left: -$glyph-circ-offset*2;
      border: 2px solid lighten($glyph-color, 40%);
      border-radius: 50%;
    }
  }
}


