/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Typography Base ---------------------------- */
body {
  font-family: $body-font;
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-white;
}

/* --------------------------------- Headers -------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
  text-transform: uppercase;
}

/* ------------------------------- Block Text ------------------------------- */
p {
  margin: ($default-p-spacing / 2) 0;
  line-height: 1.5;
}

/* ----------------------------- Section Titles ----------------------------- */
.section-title {
  font-size: 6.5rem;
}
