/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center;
  &__body {
    margin: 2rem 0;
    font-size: $default-font-size;
    line-height: 3rem;
  }
  &__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem;
  }
  &__skills-cards {
    display: flex;
    justify-content: space-evenly;
  }
}