/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center;
  &__body {
    margin: 2rem 0;
    font-size: $default-font-size;
    line-height: 3rem;
  }
  &__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem;
  }
  &__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  &__cta-btn {
    margin: 7rem 0;
  }
}


/* ---------------------------- Projects Section ---------------------------- */
.projects {
  height: 150vh;
  position: relative;
}
