/* ---------------------------- About Me Section ---------------------------- */
.about {
  margin: 7rem;
  text-align: center;
  &__body {
    margin: 2rem 0;
    font-size: $default-font-size;
    line-height: 3rem;
  }
  &__heading {
    font-size: 6.3rem;
    margin-bottom: 2.5rem;
  }
  &__skills-cards {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  &__cta-btn {
    margin: 7rem 0;
  }
}

/* ---------------------------- Projects Section ---------------------------- */
.projects {
  margin-top: $section-begin-margin;
}

/* ----------------------------- Skills Section ----------------------------- */
.skills {
  margin: $section-begin-margin 0;

  &__body {
    margin-top: $section-begin-margin/2;
    line-height: 1;
    padding: 2px 2rem;
    color: $color-white;
    font-size: 2.4rem;
    &--left {
      margin-left: $textbox-bar-width;
      border-left: $textbox-bar-width solid $color-primary;
    }
    &--right {
      text-align: right;
      margin-right: $textbox-bar-width;
      border-right: $textbox-bar-width solid $color-primary;
    }
  }

  &__cards {
    padding: 0 $section-begin-margin/2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: $section-begin-margin/2;
  }

  &__card {
    // .panel__body {
    //   height: 100%;
    // }
    width: 33%;
    font-size: 2.4rem;
    text-align: center;

    &__title {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 4rem;
    }

    ul {
      list-style: none;
      font-weight: 300;
      line-height: 1.2;
      li {
        padding: 1.2rem;
        &:not(:last-child) {
          // border-bottom: 1px solid lighten($color-black, 2%);
        }
      }
    }
  }
}

.hire-me {
  margin-top: $section-begin-margin * 2;

  .panel__title {
    font-size: 4rem;
    color: darken($color-white, 10%);
    align-self: center;
    text-transform: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__links {
      display: flex;
      gap: $panel-pad-h;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    &__message-form {
      padding: $panel-pad-h $panel-pad-h * 2;
      width: 100rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $panel-pad-v;
    }

    .btn {
      margin-top: $panel-pad-v/2;
    }
  }
}
