{{ define "main" }}
<main class="article">
  <!-- Header -->
  <header class="article__header">
    <div class="article__bg"></div>
    <div class="article__header-content">
      <div class="article__categories">
        {{ range .Params.Categories }}
        <a href="">{{.}}</a>
        {{ end }}
      </div>
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
      <div class="article__meta">
        <div class="article__meta--tags">
          {{ range .Params.Tags }}
          <span class="info-tag info-tag--meta">{{.}}</span>
          {{ end }}
        </div>
        <span class="article__meta--date">
          {{ .Date | time.Format ":date_long" }}
        </span>
      </div>
      <div class="article__graphic article__graphic--right"></div>
      <div class="article__graphic article__graphic--left"></div>
      <!-- Main Feature Image -->
      {{ with .Resources.GetMatch "images/main.*" }}
      <div class="article__image--main pane pane--has-image">
        <img src="{{.RelPermalink}}" alt="" />
        <div class="pane__shadow pane__shadow--corner-t-l"></div>
        <div class="pane__shadow pane__shadow--corner-t-l"></div>
      </div>
      {{ end }}
    </div>
  </header>
  <section class="article__content">
    <section class="toc pane">
      {{ .TableOfContents }}
      <div class="pane__shadow pane__shadow--corner-b-r"></div>
      <div class="pane__shadow pane__shadow--corner-b-r"></div>
    </section>
    <!-- Content -->
    {{ .Content }}
  </section>
</main>
{{ end }}
