/* -------------------------------------------------------------------------- */
/*                            Image/Diagram Figure                            */
/* -------------------------------------------------------------------------- */

figure {
  text-align: right;
  width: 45%;
  margin: 4rem auto;

  figcaption {
    font-family: $heading-font;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 0.3em;
  }

  img {
    width: 100%;
  }

  @include for-laptop-down {
    width: 40%;
  }
  @include for-tablet-landscape-down {
    width: 33%;
  }
  @include for-tablet-portrait-down {
    width: 60%;
    margin: 2rem auto;
    text-align: center;
  }
  @include for-mobile-only {
    width: 100%;
    margin: 2rem auto;
  }
}
