/* -------------------------------------------------------------------------- */
/*                                  Info Tag                                  */
/* -------------------------------------------------------------------------- */

.info-tag {
  display: inline-block;
  font-weight: 500;
  font-size: 2.4rem;
  font-family: $heading-font;
  text-transform: uppercase;
  color: $color-panel-2;
  background-color: $color-black-2;
  padding: 0rem 0.625em;
  margin: 0;
  @include for-laptop-down {
    font-size: 2rem;
  }
  @include for-tablet-portrait-down {
    font-size: 1.6rem;
  }
  @include for-mobile-only {
    font-size: 1.5rem;
  }

  &--meta {
    font-size: 1.8rem;
    text-transform: none;
    font-weight: 400;
    @include for-tablet-portrait-down {
      font-size: 1.6rem;
    }
    @include for-mobile-only {
      font-size: 1.2rem;
    }
  }

  &--light {
    background-color: $color-black-3;
    color: $color-panel-2;
    font-weight: 400;
  }
}
