/* -------------------------------------------------------------------------- */
/*                               Panel Component                              */
/* -------------------------------------------------------------------------- */
/*
  A rectangular panel to contain content with a subtle space-y warp 
    shadow effect on it
*/
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  @include for-laptop-down {
    font-size: 0.85rem;
  }
  @include for-tablet-portrait-down {
    text-align: center;
  }

  &--with-image {
    .panel__body {
      padding: 0;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-grey-light;
    background-color: rgba($color-black, $panel-opacity);
    line-height: 1.77;
    font-size: 2.2em;
    border: 3px solid $panel-border-color;
    padding: $panel-pad-v $panel-pad-h;
    p {
      margin-top: $panel-pad-v;
    }
  }

  &__shadow-effect {
    // 1st shadow line (behind panel)
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 100% - $panel-shadow-offset / 2;
    height: 100%;
    top: -$panel-shadow-offset;
    border: 2px solid lighten($panel-border-color, 40%);

    // 2nd shadow line
    &::after {
      position: absolute;
      opacity: 0.4;
      z-index: -2;
      content: '';
      width: 100% - $panel-shadow-offset;
      height: 100%;
      top: -$panel-shadow-offset;
      border: 2px solid lighten($panel-border-color, 40%);
    }
  }

  &__title {
    color: $color-white;
    font-size: 4.5em;
    letter-spacing: 0.25rem;
    margin: $panel-pad-v 0 1rem 0;

    &--for-project {
      align-self: flex-start;
      text-transform: none;
      a {
        &:after {
          margin-left: 1.5rem;
          content: url('../img/i-link-ext.svg');
        }
      }
      @include for-tablet-portrait-down {
        align-self: center;
      }
    }

    &--for-skill-card {
      align-self: center;
    }
  }

  &__footer-bar {
    margin-top: $panel-pad-v;
    margin-bottom: $panel-pad-v;
    min-width: 100%;
    display: flex;
    // flex-wrap: wrap;
    gap: $panel-pad-v;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-portrait-down {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--buttons {
      display: flex;
      justify-self: flex-start;
      align-self: flex-start;
      @include for-tablet-portrait-down {
        justify-self: center;
        align-self: center;
        order: 2;
      }
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      justify-self: flex-end;
      justify-content: flex-end;
      gap: $panel-pad-v/2;
      opacity: 0.8;
      @include for-tablet-portrait-down {
        justify-content: center;
        order: 1;
      }
    }
  }
}
