/* -------------------------------------------------------------------------- */
/*                              Table of Contents                             */
/* -------------------------------------------------------------------------- */
.toc {
  font-size: 1rem;
  header {
    font-family: $heading-font;
    font-weight: 500;
    font-size: 1.8em;
    display: flex;
    align-items: center;
  }
  padding-left: 4rem;
}

#TableOfContents {
  font-size: 1.6em;
  font-family: $heading-font;
  ul {
    margin-left: 1em;
  }
}
