/* -------------------------------------------------------------------------- */
/*                              Table of Contents                             */
/* -------------------------------------------------------------------------- */
.toc {
  font-size: 1rem;
  header {
    display: flex;
    align-items: center;
  }
  padding-left: 4rem;
  .btn {
    font-size: 1.8rem;
    img {
      height: 0.3em;
    }
    padding: 0;
  }
  margin-top: 2rem;
}

#TableOfContents {
  font-size: 1.6em;
  margin-top: 0.5em;
  font-family: $heading-font;
  ul {
    margin-left: 1.5em;
  }
}
