/* -------------------------------------------------------------------------- */
/*                              Table of Contents                             */
/* -------------------------------------------------------------------------- */
.toc {
  font-size: 1rem;
  header {
    display: flex;
    align-items: center;
  }
  padding-left: 4rem;
  .btn {
    line-height: 1;
    font-size: 1.8rem;
    img {
      height: 0.3em;
    }
    padding: 0;
  }
  margin-top: 2rem;
  &--is-open {
    .btn {
      img {
        transform: rotateZ(0deg);
      }
    }
    #TableOfContents {
      display: unset;
    }
  }
  &--is-closed {
    .btn {
      img {
        transform: rotateZ(-90deg);
      }
    }
    #TableOfContents {
      display: none;
    }
  }
}

#TableOfContents {
  font-size: 1.6rem;
  margin-top: 0.5em;
  font-family: $heading-font;
  ul {
    margin: 0.15em 0;
    margin-left: 1.5em;
    a {
      color: $color-white;
    }
    li {
      line-height: 1.2;
      margin: 0;
    }
    &:first-child {
      margin-top: 1em;
    }
  }
}
