/* -------------------------------------------------------------------------- */
/*                              Layout Containers                             */
/* -------------------------------------------------------------------------- */

/* ---------------- Generic Vertical Section Column Container --------------- */
// has responsive padding, content max-width, centred, etc.
.section {
  max-width: $content-max-width;
  margin: 0 auto;
  margin-bottom: $base-pad-hz;
  @include has-expanding-hz-padding;
  @include for-mobile-only {
    margin-bottom: $base-pad-hz / 2;
  }
}
