/* ------------------------------ Hero Section ------------------------------ */
.hero {
  width: 100%;
  min-height: 100vh;
  @include has-large-responsive-hz-padding;

  &__grid {
    display: grid;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: $navbar-height 1fr min-content min-content 2fr;
    @include for-mobile-only {
      // add some empty row space for mobile navbar
      grid-template-rows: calc($navbar-height * 2 / 3) 1fr min-content min-content 1fr $mobile-navbar-height;
    }
  }

  &__bg {
    &::before {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      display: block;
      background: url('../img/spacebg.png') no-repeat center fixed;
      opacity: 0.1;
    }
  }

  &__headline,
  &__textbox,
  &__cta {
    grid-column: 1 / span 1;
  }

  &__headline {
    width: 85%;
    font-size: 15rem;
    margin-bottom: 0.25em;
    line-height: 1;
    text-transform: uppercase;
    align-self: flex-end;
    em {
      font-style: normal;
      color: $color-primary;
    }
    @include for-laptop-down {
      width: 100%;
      font-size: 10rem;
    }
    @include for-tablet-landscape-down {
      width: 90%;
      font-size: 10rem;
    }
    @include for-tablet-portrait-down {
      width: 100%;
      font-size: 8rem;
      margin-bottom: 0.8em;
    }
    @include for-mobile-only {
      font-size: 5rem;
    }
    grid-row: 3 / span 1;
  }

  &__textbox {
    position: relative;
    font-size: 2.2rem;
    width: 50%;
    padding: 0.5em 0;
    padding-left: 2em;
    color: darken($color-white, 10%);
    align-self: flex-start;

    @include for-laptop-down {
      width: 90%;
      font-size: 1.8rem;
    }
    @include for-tablet-landscape-down {
      width: 90%;
    }
    @include for-tablet-portrait-down {
      font-size: 2.2rem;
    }
    @include for-mobile-only {
      width: 100%;
      font-size: 1.6rem;
    }
    grid-row: 4 / span 1;
  }

  &__cta {
    grid-row: 5 / span 1;
    align-self: center;
    justify-self: center;
    .btn--cta {
      @include for-laptop-down {
        font-size: 2.8rem;
      }
      @include for-tablet-landscape-down {
        font-size: 2.4rem;
      }
    }
    @include for-mobile-only {
      display: none;
    }
  }
}
