/* ------------------------------- Top Navbar ------------------------------- */
.navbar {
  position: fixed;
  z-index: 3;
  height: $navbar-height;
  width: 100%;
  @include for-tablet-portrait-down {
    height: $navbar-height * 3 / 4;
  }
  @include for-mobile-only {
    height: $navbar-height * 2 / 3;
    position: absolute;
  }
  &__content {
    max-width: $article-max-width;
    @include has-expanding-hz-padding;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $heading-font;
    font-weight: 400;
    background-color: rgba($color-pure-black, 0);
    color: $color-white;
    @include for-mobile-only {
      padding: 0 $base-pad-hz / 8;
    }

    &--is-wider {
      max-width: $content-max-width;
    }
  }

  &__logo-text {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    &__last-name {
      font-weight: 200;
    }
    @include for-tablet-portrait-down {
      font-size: 28px;
    }
    @include for-mobile-only {
      font-size: 22px;
      margin-right: auto;
    }
  }

  &__nav-group {
    display: flex;
    @include for-mobile-only {
      display: none;
    }
  }

  &__nav-item {
    font-weight: 200;
    font-size: 2rem;
    padding: 0 2rem;
    text-transform: lowercase;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &--opaque {
    transition: background-color $t-slow;
    background-color: rgba(lighten($color-black, 1%), 1);
    border-bottom: 1px solid rgba(darken($color-panel, 12%), 1);
    box-shadow: 0 2px 24px 0 rgba($color-pure-black, 0.2);
  }

  &--is-article-width {
    max-width: $article-max-width;
  }
}

/* ------------------------- Mobile Fixed Bottom Nav ------------------------ */
.nav-mobile {
  display: none;
  background-color: $color-primary;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: $main-padding / 10;
  @include for-mobile-only {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: $mobile-navbar-height;
  }

  &__item {
    @include reset-button-styles;
    font-size: 1.8rem;
    font-family: $heading-font;
    line-height: 1;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    align-items: center;
    gap: 0.3em;
    font-weight: 500;
    img {
      width: 20px;
    }
    &:active {
      @include transform-button-down;
    }
  }
}
