/* -------------------------------------------------------------------------- */
/*                               Project Feature                              */
/* -------------------------------------------------------------------------- */

.project {
  margin-top: calc($section-begin-margin/4);
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 66% auto;
  align-items: center;
  justify-content: space-between;
  @include for-tablet-portrait-down {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-top: calc($section-begin-margin / 8);
  }

  &__image {
    width: 200%;
    margin-left: 5rem;
    z-index: -1;
    padding: 0;

    img {
      width: 100%;
    }

    @include for-tablet-portrait-down {
      width: 100%;
      margin-left: 0;
      margin-top: calc($section-begin-margin/8);
      grid-row: 1 / span 1;
    }
  }

  &__meta {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    gap: 3em;
    @include for-tablet-portrait-down {
      gap: 2em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__btns {
    display: flex;
    gap: 2rem;
    @include for-tablet-portrait-down {
      order: 2;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
