/* -------------------------------------------------------------------------- */
/*                               Project Feature                              */
/* -------------------------------------------------------------------------- */

.project {
  margin: 4rem 0;
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  &:first-of-type {
    // ensure margin below section title is correct
    align-items: flex-start;
  }

  .pane {
    font-size: 1.2rem;
  }

  &__image {
    z-index: -1;
    width: 150%;
    padding: 0;
    img {
      width: 100%;
    }
  }

  &__meta {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    gap: 3em;
    @include for-tablet-portrait-down {
      gap: 2em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__btns {
    display: flex;
    gap: 2rem;
    @include for-tablet-portrait-down {
      order: 2;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
  }

  // left-aligned odd projects
  &:nth-of-type(odd) {
    grid-template-columns: 66% 1fr;
    .pane__wrapper {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
    .project__image {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin-left: 1rem;
      margin-right: 0rem;
      justify-self: flex-end;
    }
    .pane {
      box-shadow: 12px 1px 22px 0px rgba($color-black, 0.3);
    }
  }

  // right-aligned even projects
  &:nth-of-type(even) {
    grid-template-columns: 1fr 66%;
    .pane__wrapper {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
    .project__image {
      justify-self: flex-start;
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      margin-left: 0;
      margin-right: 1rem;
    }
    .pane__title {
      align-self: flex-end;
    }
    .pane {
      box-shadow: -12px 1px 22px 0px rgba($color-black, 0.3);
    }
  }

  // common media queries to both odd & even
  &:nth-of-type(odd),
  &:nth-of-type(even) {
    @include for-tablet-portrait-down {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, auto);
      .pane__wrapper {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
      .project__image {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
      }
      .pane__title {
        align-self: center;
      }
    }
  }
}
